body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.menu-container{
    width: 98.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
        height: 50px;
        background: rgba(120, 120, 120, 0.7);
        top: 0;
        left:0;
}
.main-contentainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-color: #0f0f0f ;
}
.playing-controls-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 60vh;
}
.buttons-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bo{
    background-color: transparent;
    border: 0px;
    width: 5em;
    height: 5em;
}
.data-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title-song{
    color: white;
    font-size: 2em;
}
.artist-song{
    color: #707070;
    font-size: 1em;
    font-style: italic;
}
.like-btn{
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.cover-container{
    width: 20em;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.img-bts{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: solid 8px ;
    overflow: hidden;
}
.progress-bar{
    width: 80%;
    height: 60%;
    position: relative;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 5px;
}
.progress-bar-container{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.line{
    width: 20%;
    height: 100%;
    position: absolute;
    border-radius: 5px;;
    background-color: white;
}
.circle{
    width: 1em;
    height: 1em;
    transform: translateX(250%) translateY(-20%);
    position: absolute;
    background-color: white;
    border-radius: 50%;

}
 .img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     animation-name: JIMIN;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-play-state: paused;
     animation-direction: normal;
     animation-timing-function: linear;
 }

 @keyframes JIMIN {
     from{
         transform: rotate(0deg);
     }
     to{
         transform: rotate(360deg);
     }
 }